<!-- adding new transaction form -->
<form>
  <div class="payer_div">
    <span class='question'>Giver</span>
    <mat-selection-list class='payer' [multiple]='false' #payer> <!-- (selectionChange)="onSelection($event, shoes.selectedOptions.selected)" > --> <!--class='payees'-->
      <mat-list-option *ngFor="let person of names" [value]='person'>
        {{person}}
      </mat-list-option>
    </mat-selection-list>
  </div>

  <div class="payees_div">
    <span class='question'>Recivers</span>
    <mat-selection-list class='payees' #payees>
      <mat-list-option *ngFor="let person of names" [value]='person'>
        {{person}}
      </mat-list-option>
    </mat-selection-list>
  </div>
 
  <mat-form-field>
    <mat-label>Cost</mat-label>
    <input matInput type=number placeholder=0 #ammount >
  </mat-form-field>

  <div> 
    <button mat-raised-button type=button 
    (click)="addRow(ammount.valueAsNumber, payer.selectedOptions.selected, payees.selectedOptions.selected,HTMLtable)"> 
    Add Record 
    </button>
  </div>
</form>


<!-- dynamic table -->
<table mat-table [dataSource]="transaction_history" #HTMLtable class="mat-elevation-z8">
  <ng-container [matColumnDef]="column" *ngFor="let column of names; let i = index;">
    <th class="name" mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let element">
      <span class="balance" > {{ round(element[column].balance)}}</span>
      <span class="change" [ngClass]=
      "{'negative':element[column].change<0,
        'positive':element[column].change>0,
        'zero':element[column].change == 0 }"> 
        {{round(element[column].change)}}
      </span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="names; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: names;"></tr>
</table> 

<!-- add Row -->
<form>
  <mat-form-field>
    <mat-label>New Person</mat-label>
    <input matInput type=string placeholder="Tomek" #new_person >
  </mat-form-field>
  <button mat-raised-button (click)="addColumn(new_person.value)">Add Person</button>
</form>