// form style
.question
    color: white
    padding: 8px
    background-color: red

.payer, .payees
    width: 40%
    min-width: 200px

.payer_div 
    float: left
.payees_div   
    float: left

// table style
table 
    width: 100%
    min-width: 100px
.name
    font-size: 20px

.balance
    font-weight: bold
    text-align: center
.change
    text-align: right    

.negative
    color: red
.positive
    color: green
.zero
    display: None

td
    min-width: 25%
    width:100px

//.mat-cell
    // font-size: 14px
    // min-height: 48px
    //border-right: 1px solid grey
    //left-margin: 50px

// button 
//     background-color: #4CAF50
//     border: none
//     color: white !important
//     padding: 15px 32px
//     text-align: center
//     text-decoration: none
//     display: inline-block
//     font-size: 16px